.colorheader {
  position: relative;
	right: 0;
	left: 0;
	bottom:0;
	height: inherit;
  color: #fff;
  font-size: 80px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.header-cell{
  display: table-cell;
  position: relative;
}
.indicator {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  width: 90%;
  background-color: transparent;
  border: none;
  color: inherit;
  outline: none;
  font-size: 0.6em;
  padding: 0 20px;
  height: 60%;
  position: absolute;
  display: none;
}
#container {
  width: 101%;
  height: inherit;
  display: table;
  bottom: 0;
  position: absolute;
  line-height: 100px;
  overflow: hidden;
  background-color: #03A9F4;
}
#tag {
  width: 308px;
  min-width: 308px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.25);
}
#search {
  cursor: text;
}
#search > input[type=text] {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background-color: transparent;
  border: none;
  color: inherit;
  outline: none;
  font-size: 0.6em;
  padding: 10px 0;
  height: 60%;
  width: 75%;
  transform: translateY(-10px) translateX(20px);
  border: 1px solid transparent;
  }
#search > input[type=text]:focus {
  background-color: rgba(255,255,255,0.3);

}
#search > input[type=text]::-webkit-input-placeholder {
  color: inherit;
}

#icon {
  font-size: 0.6em;
/*  width: 1em;
  height: 1em;*/
  padding-right: 10px;
  transform: translateY(-10px) translateX(20px);}
}
