.flag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Roboto';
}
.flag-container-inner {
}
#flagDescription {
  margin-bottom: 5px;
}
paper-slider, paper-dropdown-menu {
  width: 350px;
}
#flagCustom {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline;
  background-color: #2196F3;
  border-radius: 3px;
  padding: 3px;
}
#flagCustom:after {
  content: 'customized';
}
#flagCustom:hover:after {
  content: 'reset to default';
}
#flagCustom:hover {
  background-color: #F44336;
  cursor: pointer;
}

#flagDescription {
  margin-right: 5px;
}
