.set-button {
  background: #777;
  color: white;
}
.center {
  display: flex;
  justify-content: center;
}

#dialog.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
